<div class="col-md-12 col-sm-12 col-xs-12">
  <% if @event_period.blank? || (@event_period.eql? 'week') %>
    <% graph_period = graph_period_week %>
  <% elsif @event_period.eql? 'month' %>
    <% graph_period = graph_period_month %>
  <% elsif @event_period.eql? 'year' %>
    <% graph_period = graph_period_year %>
  <% end %>

  <%= area_chart reporting_events_graph_data(graph_period), graph_options %>
</div>

