<div class="dashboard">
  <div class="row main-column">
    <%= render "application/admins/dashboard/partials/stats" %>
  </div>

  <div class="row main-column">
    <%= render "application/admins/dashboard/reporting_graph_panels" %>
  </div>
</div>
