<% if @event_shares.count.zero? %>
  <div class="row main-column" id="objects">
    <strong>No Shares Found</strong>
  </div>
<% else %>

  <div class="row main-column" id="objects">
    <table class="data table table-striped no-margin">
      <thead>
      <tr>
        <th> User</th>
        <th> Timestamp</th>
        <th> Shared with Total </th>
      </tr>
      </thead>
      <tbody>
      <% @event_shares.each do |share| %>
        <tr>
          <td><%= link_to share.user.name, user_path(share.user) %></td>
          <td><%= share.created_at.strftime(Api::Emails::DEFAULT_TIME_FORMAT) %></td>
          <td><%= share.users.count %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="row main-column">
    <div id="paginator" class="pull-right">
      <%= will_paginate @event_shares, renderer: BootstrapPagination::Rails, param_name: 'event_shares_page', params: {scope: 'event_shares'} %>
    </div>
  </div>

<% end %>