<%  content_for :page_title, (t 'views.general_notifications.posts.create.title', name: @notification.title) %>

<div class="x_panel main-column">
  <div class="x_title main-column">
    <%= back_arrow_item %>
    <h2><%= (t 'views.general_notifications.posts.create.title', name: @notification.title) %></h2>

    <div class="clearfix"></div>
  </div>
  <div class="x_content main-column">
    <div class="row main-column">
      <%= render 'form' %>
    </div>
  </div>
</div>