<div class="title_right">
  <div class="col-md-6 col-sm-6 col-xs-12 form-group pull-right top_search">
    <div class="btn-group pull-right" role="group">
      <%= link_to (t 'views.settings.profile'), edit_settings_profile_path, class: "btn btn-segmented #{active_controller(controller: :application_settings_profiles)}" %>
    </div>
  </div>
</div>