<%  content_for :page_title, (t 'views.navigation.menu.offer_approvals') %>

<div class="x_panel main-column">
  <div class="x_title main-column">
    <h2><%= (t 'views.navigation.menu.offer_approvals') %></h2>
    <div class="clearfix"></div>
  </div>
  <div class="x_content main-column">
    <div class="row main-column">
      <%= render 'table' %>
    </div>
    <div class="row main-column">
      <div id="paginator" class="pull-right">
        <%= will_paginate @objects, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div>
</div>
