<%  content_for :page_title, (t 'views.navigation.menu.settings') %>

<div class="x_panel main-column">
  <div class="x_title main-column">
    <h2><%= (t 'views.navigation.menu.settings') %></h2>

    <div class="clearfix"></div>
  </div>
  <div class="x_content main-column">
    <%= render 'form' %>
  </div>
</div>
