<p>Hi <%= @resource.first_name %>!</p>

<p>We’ve received a request to reset your password.</p>

<p>If you didn’t make the request, just ignore this message. Otherwise, you can reset your password using this link:</p>

<p>
  <%= link_to edit_password_url(@resource, reset_password_token: @token), class:"center-block email-button button-custom"  do %>
      <span class="white">Reset your password</span>
  <% end %>
</p>

<p>Your password won't change until you access the link above and create a new one.</p>

<p>
  Thanks,<br/>
  Go!
</p>